:root{
  --font-family: "Olde English";
  --font-family-headline: "Old English";
  --font-family-text: "Josefin Sans";
  --sizeVar: 90vmin;
}

// fonts

// colors
$black: #000000;
$white: #fff;
$primary: #892CDC;
$secondary: #52057B;
$light: #BC6FF1;

$white: hsla(240, 100%, 97%, 1);
$black: hsla(252, 74%, 9%, 1);
$dark-green: hsla(177, 25%, 16%, 1);
$light-green: hsla(150, 97%, 56%, 1);
$electric-purple: hsla(286, 100%, 49%, 1);


// variables
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}


$gradient: radial-gradient(circle,rgba(63,94,251,1) 3%, rgba(49,220,226,1) 26%,rgba(213,42,255,1) 51%, rgba(191,62,212,1) 82%,rgba(252,70,107,1) 100%);

// global
*{
  color: $white;
  list-style-type: none;
}
html{
  background: $black;
  overflow-x: hidden;


}
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10%;
}

// text
h1, h2, h3, h4, h5, h6, .jp  {
  font-family: "Olde English";
  font-size: 3rem;
  animation: gradient 5s infinite alternate;
  background: rgb(63,94,251);
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  &.jp{
    font-size: 25rem;
    margin: 0;
  }
}
p {
  font-size: 1.3em;
  font-family: "tisk", sans-serif;
}

header {
  width: 100%;
  .intro {
    display: flex;
    .intro--left {
      width: 50%;
      display: flex;
      justify-content: center;
      position: relative;

    }
    .intro--right{
      align-self: center;
      width: 50%;
      height: 20rem;
    }
  }
  .about {}
  .my-stuff{
    position: relative;
  }
}



// ipad

.my-stuff{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  .ipadBox{
    width: 100%;

  }
  h2{

  }
}



